// Button wrapper styles
// Add custom styles here if needed, otherwise use Tailwind classes

::ng-deep {
  .p-button {
  &:not(:disabled):hover {
      background-color: var(--color-button-primary) !important;
      opacity: 0.9;
    }
  }
}
