<p-toast
  [position]="position()"
  [key]="key()"
  [autoZIndex]="autoZIndex()"
  [baseZIndex]="baseZIndex()"
  [showTransformOptions]="showTransformOptions()"
  [hideTransformOptions]="hideTransformOptions()"
  [showTransitionOptions]="showTransitionOptions()"
  [hideTransitionOptions]="hideTransitionOptions()"
  [breakpoints]="breakpoints()"
  [style]="style()"
  [styleClass]="styleClass()"
  [preventOpenDuplicates]="preventOpenDuplicates()"
  [preventDuplicates]="preventDuplicates()"
  [life]="life()"
></p-toast>
