<p-dialog
  [(visible)]="visible"
  [header]="header()"
  [draggable]="draggable()"
  [resizable]="resizable()"
  [modal]="modal()"
  [position]="position()"
  [blockScroll]="blockScroll()"
  [closeOnEscape]="closeOnEscape()"
  [dismissableMask]="dismissableMask()"
  [closable]="closable()"
  [maximizable]="maximizable()"
  [focusOnShow]="focusOnShow()"
  [appendTo]="appendTo()"
  [style]="style()"
  [styleClass]="styleClass()"
  [contentStyle]="contentStyle()"
  [contentStyleClass]="contentStyleClass()"
  [rtl]="rtl()"
  [breakpoints]="breakpoints()"
  [baseZIndex]="baseZIndex()"
  [autoZIndex]="autoZIndex()"
  [transitionOptions]="transitionOptions()"
  [showHeader]="showHeader()"
  (onShow)="onShow.emit($event)"
  (onHide)="onHide.emit($event)"
  (onMaximize)="onMaximize.emit($event)"
  (onUnmaximize)="onUnmaximize.emit($event)"
  (onDragEnd)="onDragEnd.emit($event)"
  (onResizeInit)="onResizeInit.emit($event)"
  (onResizeEnd)="onResizeEnd.emit($event)"
>
  <ng-content></ng-content>
</p-dialog>
