.container {
  padding: var(--spacing-6xl);
  display: grid;
  gap: var(--spacing-5xl);
}
.title {
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-semibold);
  font-size: 32px;
  line-height: 40px;
  margin: 0;
}
.meta {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-border-default);
}
.section {
  display: grid;
  gap: var(--spacing-xl);
}
.section-title {
  font-weight: var(--font-weight-semibold);
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}
.body {
  font-family: var(--font-family-text);
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-default);
  margin: 0;
}
