// Minimal custom styles - most styling uses Tailwind utility classes

:host {
  display: block;
  min-height: calc(100vh - 80px);
}

.title {
  background: linear-gradient(270deg, #73C6A7 -3.56%, #5FC3AD 15.84%, #3BBEBB 45.69%);
  width: fit-content;
}
