<div class="bg-neutral-50 px-16 pt-8 flex flex-col gap-8">
  <!-- Breadcrumb -->
  <app-breadcrumb [items]="breadcrumbItems()" />

  <div class="flex gap-2 items-start py-0 relative w-full">
    <!-- Large Image - Right Side -->
    <div class="h-[386px] relative rounded-br-xl rounded-tr-xl shrink-0 w-2/3">
      <img
        alt="Auction property main image"
        class="absolute inset-0 object-center object-cover pointer-events-none rounded-br-xl rounded-tr-xl w-full h-full"
        [src]="mainImage()"
      />
    </div>

    <!-- Image Gallery - Left Side -->
    <div class="flex flex-col gap-2 grow w-1/3">
      <!-- Image Rows (2 rows) -->
      @for (row of [0, 1]; track row) {
      <div class="flex gap-2 w-full">
        @for (col of [0, 1]; track col) { @if (galleryImages()[row * 2 + col]) {
        <div class="flex-1 h-48">
          <img
            [alt]="'Auction property image ' + (row * 2 + col + 1)"
            class="w-full h-full object-cover rounded-xl"
            [src]="galleryImages()[row * 2 + col]"
          />
        </div>
        } }
      </div>
      }
    </div>
  </div>

  <div class="flex gap-4">
    <div class="details-container w-2/3">
      <!-- Header with Title and Actions -->
      <div class="flex items-center justify-between w-full gap-4 mb-5">
        <p class="text-xl font-bold text-neutral-800 leading-[30px]">
          {{ auctionDetails().title }}
        </p>
        <div class="flex items-center gap-2">
          <!-- Favorite Button -->
          <button
            class="flex items-center justify-center w-10 h-10 max-w-10 max-h-10 min-w-10 min-h-10 rounded overflow-hidden hover:bg-gray-100 transition-colors"
          >
            <img alt="favorite" class="w-6 h-6" src="images/icons/heart.svg" />
          </button>
          <!-- Share Button -->
          <button
            class="flex items-center justify-center w-10 h-10 max-w-10 max-h-10 min-w-10 min-h-10 rounded overflow-hidden hover:bg-gray-100 transition-colors"
          >
            <img alt="share" class="w-6 h-6" src="images/icons/share.svg" />
          </button>
        </div>
      </div>

      <!-- Stats Cards -->
      <div class="flex items-start gap-4 mb-5 w-full">
        <!-- Participants Count -->
        <div
          class="flex-1 min-w-0 bg-white border border-neutral-200 rounded-lg p-4 flex items-center gap-4"
        >
          <img alt="people" class="" src="images/icons/people.svg" />

          <div class="flex flex-col gap-1 whitespace-nowrap text-black">
            <p class="text-base font-normal leading-6">
              {{ 'auctionDetails.stats.participantsCount' | transloco }}
            </p>
            <p class="text-base font-semibold leading-6">
              {{ auctionDetails().stats.participantsCount }}
            </p>
          </div>
        </div>

        <!-- Views Count -->
        <div
          class="flex-1 min-w-0 bg-white border border-neutral-200 rounded-lg p-4 flex items-center gap-4"
        >
          <img alt="eye" src="images/icons/eye.svg" />

          <div class="flex flex-col gap-1 whitespace-nowrap text-black">
            <p class="text-base font-normal leading-6">
              {{ 'auctionDetails.stats.viewsCount' | transloco }}
            </p>
            <p class="text-base font-semibold leading-6">{{ auctionDetails().stats.viewsCount }}</p>
          </div>
        </div>

        <!-- Bids Count -->
        <div
          class="flex-1 min-w-0 bg-white border border-neutral-200 rounded-lg p-4 flex items-center gap-4"
        >
          <img alt="legal" src="images/icons/legal.svg" />

          <div class="flex flex-col gap-1 whitespace-nowrap text-black">
            <p class="text-base font-normal leading-6">
              {{ 'auctionDetails.stats.bidsCount' | transloco }}
            </p>
            <p class="text-base font-semibold leading-6">{{ auctionDetails().stats.bidsCount }}</p>
          </div>
        </div>
      </div>

      <!-- Auction Information Card -->
      <div
        class="bg-white border border-neutral-200 rounded-lg p-4 flex flex-col items-end gap-4 w-full"
      >
        <div class="flex flex-col gap-1 w-full">
          <p class="font-bold leading-6 text-black w-full">
            {{ 'auctionDetails.auctionInfo' | transloco }}
          </p>

          <!-- Auction Type -->
          <div class="flex justify-between gap-2 w-full border-b border-neutral-200 pb-1">
            <p class="font-normal leading-6 text-neutral-800">
              {{ 'auctionDetails.auctionType' | transloco }}
            </p>
            <p class="font-normal leading-6 text-neutral-800">
              {{ auctionDetails().info.auctionType }}
            </p>
          </div>

          <!-- Asset Type -->
          <div class="flex justify-between gap-2 w-full border-b border-neutral-200 pb-1">
            <p class="font-normal leading-6 text-neutral-800">
              {{ 'auctionDetails.assetType' | transloco }}
            </p>
            <p class="font-normal leading-6 text-neutral-800">
              {{ auctionDetails().info.assetType }}
            </p>
          </div>
        </div>

        <!-- Boundaries Accordion -->
        <button
          class="flex flex-col items-end p-0 w-full cursor-pointer"
          (click)="toggleAccordion('boundaries')"
        >
          <div class="flex items-center justify-between h-10 px-2 w-full rounded-lg bg-neutral-50">
            <p class="text-base font-semibold leading-6 text-black text-right flex-1">
              {{ 'auctionDetails.accordion.boundaries' | transloco }}
            </p>

            @if (accordionStates().boundaries) {
            <img alt="accordianArrow" src="images/icons/accordianArrow.svg" />
            } @else {
            <img alt="accordianArrow" class="rotate-180" src="images/icons/accordianArrow.svg" />
            }
          </div>

          @if (accordionStates().boundaries) {
          <div class="flex flex-col items-center gap-2 w-full pt-2 pb-6 pr-2 pl-4">
            <!-- Property Area -->
            <div class="flex items-start justify-end gap-2 w-full border-b border-neutral-200 pb-1">
              <p class="text-base font-normal leading-6 text-neutral-800 text-right w-[200px]">
                {{ 'auctionDetails.asset.area' | transloco }}
              </p>
              <p class="flex-1 min-w-0 text-base font-normal leading-6 text-neutral-800 text-left">
                150 م٢
              </p>
            </div>

            @for (boundary of auctionDetails().boundaries; track boundary.direction) {
            <div class="flex gap-2 w-full border-b border-neutral-200 pb-1">
              <img alt="arrow" class="w-5 h-5" [src]="'images/icons/' + boundary.icon + '.svg'" />
              <p class="text-base font-normal leading-6 text-neutral-800">
                {{ boundary.direction }}
              </p>
              <p class="flex-1 min-w-0 text-base font-normal leading-6 text-neutral-800 text-left">
                {{ boundary.description }}
              </p>
            </div>
            }
          </div>
          }
        </button>

        <!-- Ownership Accordion -->
        <button
          class="flex flex-col items-end p-0 w-full cursor-pointer"
          (click)="toggleAccordion('ownership')"
        >
          <div class="flex items-center justify-between h-10 px-2 w-full rounded-lg bg-neutral-50">
            <p class="text-base font-semibold leading-6 text-black text-right flex-1">
              {{ 'auctionDetails.accordion.ownership' | transloco }}
            </p>
            @if (accordionStates().ownership) {
            <img alt="accordianArrow" src="images/icons/accordianArrow.svg" />
            } @else {
            <img alt="accordianArrow" class="rotate-180" src="images/icons/accordianArrow.svg" />
            }
          </div>

          @if (accordionStates().ownership) {
          <div class="flex flex-col items-center gap-2 w-full pt-2 pb-6 pr-2 pl-4">
            <div class="flex items-start justify-end gap-2 w-full border-b border-gray-200 pb-1">
              <p class="text-base font-normal leading-6 text-gray-800 text-right w-[200px]">
                {{ 'auctionDetails.asset.area' | transloco }}
              </p>
              <p class="flex-1 min-w-0 text-base font-normal leading-6 text-gray-800 text-left">
                {{ auctionDetails().ownership.propertyArea }}
              </p>
            </div>
            <div class="flex items-start justify-end gap-2 w-full border-b border-gray-200 pb-1">
              <p class="text-base font-normal leading-6 text-gray-800 text-right w-[200px]">
                {{ 'auctionDetails.ownershipType' | transloco }}
              </p>
              <p class="flex-1 min-w-0 text-base font-normal leading-6 text-gray-800 text-left">
                {{ auctionDetails().ownership.ownershipType }}
              </p>
            </div>
            <div class="flex items-start justify-end gap-2 w-full border-b border-gray-200 pb-1">
              <p class="text-base font-normal leading-6 text-gray-800 text-right w-[200px]">
                {{ 'auctionDetails.ownershipRights' | transloco }}
              </p>
              <p class="flex-1 min-w-0 text-base font-normal leading-6 text-gray-800 text-left">
                {{ auctionDetails().ownership.ownershipRights }}
              </p>
            </div>
          </div>
          }
        </button>

        <!-- Asset Info Accordion -->
        <div class="flex flex-col items-end w-full">
          <div
            class="flex items-center justify-between h-10 px-2 w-full rounded-lg bg-neutral-50 cursor-pointer"
            (click)="toggleAccordion('assetInfo')"
          >
            <p class="text-base font-semibold leading-6 text-gray-900 text-right flex-1">
              {{ 'auctionDetails.propertyInfo' | transloco }}
            </p>
            @if (accordionStates().assetInfo) {
            <img alt="accordianArrow" src="images/icons/accordianArrow.svg" />
            } @else {
            <img alt="accordianArrow" class="rotate-180" src="images/icons/accordianArrow.svg" />
            }
          </div>

          @if (accordionStates().assetInfo) {
          <div class="flex flex-col items-center gap-2 w-full pt-2 pb-6 pr-2 pl-4">
            <div class="flex justify-between gap-2 w-full border-b border-gray-200 pb-1">
              <p class="font-normal leading-6 text-gray-800">
                {{ 'auctionDetails.asset.planNumber' | transloco }}
              </p>
              <p class="font-normal leading-6 text-gray-800">
                {{ auctionDetails().assetInfo.planNumber }}
              </p>
            </div>
            <div class="flex justify-between gap-2 w-full border-b border-gray-200 pb-1">
              <p class="font-normal leading-6 text-gray-800">
                {{ 'auctionDetails.asset.plotNumber' | transloco }}
              </p>
              <p class="font-normal leading-6 text-gray-800">
                {{ auctionDetails().assetInfo.plotNumber }}
              </p>
            </div>
            <div class="flex justify-between gap-2 w-full border-b border-gray-200 pb-1">
              <p class="font-normal leading-6 text-gray-800">
                {{ 'auctionDetails.asset.front' | transloco }}
              </p>
              <p class="font-normal leading-6 text-gray-800">
                {{ auctionDetails().assetInfo.propertyFacing }}
              </p>
            </div>
            <div class="flex justify-between gap-2 w-full border-b border-gray-200 pb-1">
              <p class="font-normal leading-6 text-gray-800">
                {{ 'auctionDetails.propertyUsage' | transloco }}
              </p>
              <p class="font-normal leading-6 text-gray-800">
                {{ auctionDetails().assetInfo.propertyUsage }}
              </p>
            </div>
            <div class="flex justify-between gap-2 w-full border-b border-gray-200 pb-1">
              <p class="font-normal leading-6 text-gray-800">
                {{ 'auctionDetails.asset.location' | transloco }}
              </p>
              <p class="font-normal leading-6 text-gray-800">
                {{ auctionDetails().assetInfo.propertyLocation }}
              </p>
            </div>
            <div class="flex justify-between gap-2 w-full border-b border-gray-200 pb-1">
              <p class="font-normal leading-6 text-gray-800">
                {{ 'auctionDetails.asset.landType' | transloco }}
              </p>
              <p class="font-normal leading-6 text-gray-800">
                {{ auctionDetails().assetInfo.landType }}
              </p>
            </div>
            <div class="flex justify-between gap-2 w-full border-b border-gray-200 pb-1">
              <p class="font-normal leading-6 text-gray-800">
                {{ 'auctionDetails.asset.deedNumber' | transloco }}
              </p>
              <p class="font-normal leading-6 text-gray-800">
                {{ auctionDetails().assetInfo.deedNumber }}
              </p>
            </div>
            <div class="flex justify-between gap-2 w-full border-b border-gray-200 pb-1">
              <p class="font-normal leading-6 text-gray-800">
                {{ 'auctionDetails.asset.deedDate' | transloco }}
              </p>
              <p class="font-normal leading-6 text-gray-800">
                {{ auctionDetails().assetInfo.deedDate }}
              </p>
            </div>
            <div class="flex justify-between gap-2 w-full border-b border-gray-200 pb-1">
              <p class="font-normal leading-6 text-gray-800">
                {{ 'auctionDetails.asset.area' | transloco }}
              </p>
              <p class="font-normal leading-6 text-gray-800">
                {{ auctionDetails().assetInfo.propertyArea }}
              </p>
            </div>
          </div>
          }
        </div>

        <!-- Residential Details Accordion -->
        <div class="flex flex-col items-end w-full">
          <div
            class="flex items-center justify-between h-10 px-2 w-full rounded-lg bg-neutral-50 cursor-pointer"
            (click)="toggleAccordion('residentialDetails')"
          >
            <p class="font-semibold leading-6 text-gray-900 text-right flex-1">
              {{ 'auctionDetails.residentialDetails' | transloco }}
            </p>
            @if (accordionStates().residentialDetails) {
            <img alt="accordianArrow" src="images/icons/accordianArrow.svg" />
            } @else {
            <img alt="accordianArrow" class="rotate-180" src="images/icons/accordianArrow.svg" />
            }
          </div>

          @if (accordionStates().residentialDetails) {
          <div class="flex flex-col items-center gap-2 w-full pt-2 pb-6 pr-2 pl-4">
            <div class="flex justify-between gap-2 w-full border-b border-gray-200 pb-1">
              <p class="font-normal leading-6 text-gray-800">
                {{ 'auctionDetails.roomsCount' | transloco }}
              </p>
              <p class="font-normal leading-6 text-gray-800">
                {{ auctionDetails().residentialDetails.roomsCount }}
              </p>
            </div>
            <div class="flex justify-between gap-2 w-full border-b border-gray-200 pb-1">
              <p class="font-normal leading-6 text-gray-800">
                {{ 'auctionDetails.hallsCount' | transloco }}
              </p>
              <p class="font-normal leading-6 text-gray-800">
                {{ auctionDetails().residentialDetails.hallsCount }}
              </p>
            </div>
            <div class="flex justify-between gap-2 w-full border-b border-gray-200 pb-1">
              <p class="font-normal leading-6 text-gray-800">
                {{ 'auctionDetails.bathroomsCount' | transloco }}
              </p>
              <p class="font-normal leading-6 text-gray-800">
                {{ auctionDetails().residentialDetails.bathroomsCount }}
              </p>
            </div>
            <div class="flex justify-between gap-2 w-full border-b border-gray-200 pb-1">
              <p class="font-normal leading-6 text-gray-800">
                {{ 'auctionDetails.kitchensCount' | transloco }}
              </p>
              <p class="font-normal leading-6 text-gray-800">
                {{ auctionDetails().residentialDetails.kitchensCount }}
              </p>
            </div>
            <div class="flex justify-between gap-2 w-full pb-1">
              <p class="font-normal leading-6 text-gray-800">
                {{ 'auctionDetails.buildingAge' | transloco }}
              </p>
              <p class="font-normal leading-6 text-gray-800">
                {{ auctionDetails().residentialDetails.buildingAge }}
              </p>
            </div>
          </div>
          }
        </div>

        <!-- Public Services Card -->
        <div
          class="bg-white border border-gray-200 rounded-lg p-2 flex flex-col items-end gap-2 w-full"
        >
          <div
            class="flex items-center justify-between h-10 px-2 w-full rounded-lg bg-neutral-50 cursor-pointer"
            (click)="toggleAccordion('publicServices')"
          >
            <p class="text-base font-semibold leading-6 text-gray-900 text-right flex-1">
              {{ 'auctionDetails.publicServices' | transloco }}
            </p>
            @if (accordionStates().publicServices) {
            <img alt="accordianArrow" src="images/icons/accordianArrow.svg" />
            } @else {
            <img alt="accordianArrow" class="rotate-180" src="images/icons/accordianArrow.svg" />
            }
          </div>

          @if (accordionStates().publicServices) {
          <div class="flex flex-col gap-1 w-full">
            @for (service of auctionDetails().publicServices; track service.name; let isLast =
            $last) {
            <div
              class="flex gap-2 px-0 py-2 w-full"
              [class.border-b]="!isLast"
              [class.border-gray-200]="!isLast"
            >
              <img
                [src]="'images/icons/' + service.icon + '.svg'"
                [alt]="service.icon"
                class="w-5 h-5 shrink-0"
              />
              <p class="text-base font-normal leading-6 text-gray-800 text-right w-[200px]">
                {{ service.name }}
              </p>
            </div>
            }
          </div>
          }
        </div>

        <!-- Neighborhood Services Card -->
        <div
          class="bg-white border border-gray-200 rounded-lg p-2 flex flex-col items-end gap-2 w-full"
        >
          <div
            class="flex items-center justify-between h-10 px-2 w-full rounded-lg bg-neutral-50 cursor-pointer"
            (click)="toggleAccordion('neighborhoodServices')"
          >
            <p class="font-semibold leading-6 text-gray-900 text-right flex-1">
              {{ 'auctionDetails.neighborhoodServices' | transloco }}
            </p>
            @if (accordionStates().neighborhoodServices) {
            <img alt="accordianArrow" src="images/icons/accordianArrow.svg" />
            } @else {
            <img alt="accordianArrow" class="rotate-180" src="images/icons/accordianArrow.svg" />
            }
          </div>

          @if (accordionStates().neighborhoodServices) { @for (service of
          auctionDetails().neighborhoodServices; track service.name; let isLast = $last) {
          <!-- <div class="flex justify-between gap-2 w-full border-b border-neutral-200 pb-1"></div> -->
          <div
            class="flex justify-between gap-2 p-2 w-full"
            [class.border-b]="!isLast"
            [class.border-gray-200]="!isLast"
          >
            <div class="flex gap-2 w-full pb-1">
              <img [src]="'images/icons/' + service.icon + '.svg'" [alt]="service.icon" />
              <p class="text-base font-normal leading-6 text-neutral-800">
                {{ service.name }}
              </p>
              <p class="flex-1 text-sm font-normal leading-5 text-neutral-500 text-left">
                {{ service.distance }}
              </p>
            </div>
          </div>
          } }
        </div>

        <!-- Download Brochure Button -->
        <button
          class="flex items-center justify-center gap-1 h-8 max-h-8 min-h-8 px-3 w-full rounded bg-gray-100 overflow-hidden hover:bg-gray-200 transition-colors"
        >
          <svg
            class="w-5 h-5 shrink-0"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17 13V17H3V13M10 3V13M10 13L6 9M10 13L14 9"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p class="text-sm font-medium leading-5 text-gray-900 whitespace-nowrap">
            {{ 'auctionDetails.downloadBrochure' | transloco }}
          </p>
        </button>
      </div>

      <!-- Google Map Section -->
      <div class="h-[386px] w-full rounded-lg overflow-hidden my-4 border border-gray-200">
        @if (isBrowser && apiLoaded()) {
          <google-map
            [center]="mapCenter()"
            [zoom]="mapZoom()"
            [options]="mapOptions()"
            width="100%"
            height="100%"
          >
            <map-marker
              [position]="markerPosition()"
              [options]="markerOptions()"
            />
          </google-map>
        } @else {
          <div class="flex items-center justify-center h-full bg-gray-200">
            <p class="text-lg text-gray-500">{{ 'auctionDetails.mapPlaceholder' | transloco }} {{apiLoaded()}}</p>
          </div>
        }
      </div>

      <!-- Seller Review Card -->
      <div
        class="bg-white border border-gray-200 rounded-lg p-4 flex flex-col justify-center gap-4 w-full mb-4"
      >
        <!-- Review Header -->
        <div class="flex items-center gap-4 w-full">
          <!-- Seller Info -->
          <div class="flex items-center justify-end gap-3">
            <!-- Avatar with Badge -->
            <div class="relative">
              <div
                class="w-12 h-12 rounded-full border border-gray-800/20 bg-white overflow-hidden"
              >
                <img
                  [src]="auctionDetails().sellerReview.sellerImage"
                  alt="Seller"
                  class="w-full h-full object-cover"
                />
              </div>
              @if (auctionDetails().sellerReview.isVerified) {
              <img src="images/icons/green-check-star.svg" alt="Verified Badge" class="absolute top-0 left-0 w-5 h-5" />
              }
            </div>
            <p class="text-base font-normal leading-6 text-gray-900 whitespace-nowrap text-right">
              {{ auctionDetails().sellerReview.sellerName }}
            </p>
          </div>

          <!-- Rating -->
          <div class="flex items-center gap-1">
            <p class="text-base font-bold leading-6 text-gray-800 whitespace-nowrap text-right">
              {{ auctionDetails().sellerReview.overallRating }}
            </p>
            <img alt="star" class="w-5 h-5" src="images/icons/gray-star.svg" />
          </div>
        </div>

        <!-- Review Details -->
        <div class="flex items-start gap-2 w-full">
          <!-- Communication Rating -->
          <div class="flex-1 flex flex-col gap-2 pb-1 pr-0.5">
            <img alt="chat" class="w-5 h-5" src="images/icons/buble-chat.svg" />

            <div class="flex flex-col gap-1.5 text-gray-800 whitespace-nowrap">
              <p class="text-base font-normal leading-6">
                {{ 'auctionDetails.communication' | transloco }}
              </p>
              <p class="text-base font-bold leading-6">
                {{ auctionDetails().sellerReview.communicationRating }}
              </p>
            </div>
          </div>

          <!-- Accuracy Rating -->
          <div class="flex-1 flex flex-col gap-2 pb-1 pr-0.5">
            <img alt="file" class="w-5 h-5" src="images/icons/file-validation.svg" />

            <div class="flex flex-col gap-1.5 text-gray-800 whitespace-nowrap">
              <p class="text-base font-normal leading-6">
                {{ 'auctionDetails.accuracyRating' | transloco }}
              </p>
              <p class="text-base font-bold leading-6">
                {{ auctionDetails().sellerReview.accuracyRating }}
              </p>
            </div>
          </div>
        </div>

        <!-- Divider -->
        <div class="h-0 w-full border-t border-gray-300"></div>

        <!-- Action Buttons -->
        <div class="flex items-start gap-5">
          <!-- Go to Seller Page Button -->
          <button
            class="flex items-center justify-center gap-1 h-10 max-h-10 min-h-10 px-4 rounded bg-gray-100 overflow-hidden hover:bg-gray-200 transition-colors"
          >
            <p class="text-base font-medium leading-6 text-gray-900 whitespace-nowrap">
              {{ 'auctionDetails.goToSellerPage' | transloco }}
            </p>
            <img alt="person" class="w-5 h-5" src="images/icons/gray-single-person.svg" />
          </button>

          <!-- Contact Seller Button -->
          <button
            class="flex items-center justify-center gap-1 h-10 max-h-10 min-h-10 px-4 rounded bg-gray-100 overflow-hidden hover:bg-gray-200 transition-colors"
          >
            <p class="text-base font-medium leading-6 text-gray-900 whitespace-nowrap">
              {{ 'auctionDetails.contactSeller' | transloco }}
            </p>
            <img alt="person" class="w-5 h-5" src="images/icons/gray-buble-chat.svg" />
          </button>
        </div>
      </div>
    </div>

    <!-- Auction Information Card -->
    <div class="flex flex-col gap-6 w-1/3">
      <!-- Card 1: Auction Information -->
      <div class="bg-white rounded-2xl shadow-md p-4 flex flex-col gap-4">
        <div class="flex gap-1">
          <img alt="bid" src="images/icons/bid-green.svg" />
          <p class="text-lg font-bold text-gray-800 leading-7 text-nowrap">
            {{ 'auctionDetails.quickBid' | transloco }}
          </p>
        </div>

        <!-- Quick Bid Amount Buttons -->
        <div class="grid grid-cols-2 gap-2 w-full">
          @for (amount of quickBidAmounts(); track amount; let idx = $index) {
          <button
            type="button"
            class="bg-neutral-100 flex items-center justify-center px-3 py-2 rounded-full transition-colors hover:bg-neutral-200 cursor-pointer"
            [class.bg-button-primary]="selectedQuickBidAmount() === amount"
            [class.hover:bg-button-primary-hover]="selectedQuickBidAmount() === amount"
            (click)="selectQuickBidAmount(amount)"
          >
            <p
              class="text-base font-medium leading-6 text-center whitespace-nowrap text-neutral-800"
            >
              {{ amount.toLocaleString() }} {{ 'auctionDetails.currency' | transloco }}
            </p>
          </button>
          }
        </div>

        <div>
          <p class="text-base text-black mb-2">
            {{ 'auctionDetails.enterBidAmount' | transloco }}
          </p>

          <lib-input-text
            type="number"
            name="bidAmount"
            [fluid]="true"
            [placeholder]="'auctionDetails.enterBidAmount' | transloco"
            [(ngModel)]="bidAmount"
          />
        </div>

        <!-- Deposit Section -->
        <div class="flex flex-col gap-2 pt-2 w-full">
          <!-- Pay Deposit Button -->
          <lib-button [fluid]="true" severity="primary" styleClass="h-10">
            <img alt="wallet" src="images/icons/bid-white.svg" class="w-5 h-5" />
            <span class="font-medium ml-1">{{ 'auctionDetails.bid' | transloco }}</span>
          </lib-button>
        </div>
      </div>

      <div class="bg-white rounded-2xl shadow-md p-4 flex flex-col gap-4">
        <p class="text-lg font-bold text-gray-800 leading-7 text-right">{{ 'auctionDetails.auctionInfo' | transloco }}</p>

        <div class="flex flex-col gap-1.5 w-full">
          <!-- Opening Price -->
          <div class="flex gap-2 items-center justify-end w-full">
            <div class="flex-1 flex gap-0 min-h-px min-w-px">
              <p class="font-medium text-gray-800 leading-6 text-nowrap">{{ 'auctionDetails.openingPrice' | transloco }}</p>
            </div>
            <div class="flex">
              <div class="flex gap-2 items-center p-0">
                <p class="text-lg font-medium text-gray-800 leading-7 text-nowrap text-right">
                  {{ auctionDetails().auctionCard.openingPrice.toLocaleString() }}
                </p>
                <!-- Currency Symbol -->
                <img alt="riyal" src="images/icons/black-riyal.svg" />
              </div>
            </div>
          </div>

          <!-- Entry Amount -->
          <div class="flex gap-2 items-center w-full">
            <div class="flex-1 flex gap-0 min-h-px min-w-px">
              <p class="text-base font-medium text-gray-800 leading-6 text-nowrap">{{ 'auctionDetails.entryAmount' | transloco }}</p>
            </div>
            <div class="flex">
              <div class="flex gap-2 items-center p-0">
                <!-- Currency Symbol -->
                <p class="text-lg font-medium text-gray-800 leading-7 text-nowrap">
                  {{ auctionDetails().auctionCard.entryAmount.toLocaleString() }}
                </p>
                <img alt="riyal" src="images/icons/black-riyal.svg" />
              </div>
            </div>
          </div>

          <!-- Highest Price -->
          <div class="flex gap-2 items-center w-full">
            <div class="flex-1 flex gap-0 min-h-px min-w-px">
              <p class="font-medium text-gray-800 leading-6 text-nowrap">{{ 'auctionDetails.highestPrice' | transloco }}</p>
            </div>
            <div class="flex">
              <div class="flex gap-2 items-center p-0">
                <p class="text-lg font-medium text-gray-800 leading-7 text-nowrap">
                  {{ auctionDetails().auctionCard.highestPrice.toLocaleString() }}
                </p>
                <!-- Currency Symbol -->
                <img alt="riyal" src="images/icons/black-riyal.svg" />
              </div>
            </div>
          </div>
        </div>

        <!-- Deposit Section -->
        <div class="border-t border-gray-200 flex flex-col gap-2 pt-2 w-full">
          <div class="flex flex-col gap-0 w-full">
            <div class="flex items-center justify-between w-full">
              <p class="font-bold leading-6 text-gray-800 text-right w-[200px]">{{ 'auctionDetails.depositAmount' | transloco }}</p>
              <div class="flex gap-2 items-center">
                <p class="text-xl font-bold text-button-primary leading-[30px] text-nowrap">
                  {{ auctionDetails().auctionCard.depositAmount.toLocaleString() }}
                </p>
                <!-- Currency Symbol (Green) -->
                <img alt="riyal" src="images/icons/green-riyal.svg" />
              </div>
            </div>
          </div>

          <!-- Pay Deposit Button -->
          <button
            class="bg-button-primary flex gap-1 h-10 items-center justify-center px-4 rounded overflow-hidden hover:bg-emerald-800 transition-colors w-full"
          >
            <!-- Wallet Icon -->
            <img alt="riyal" src="images/icons/wallet.svg" />

            <div class="flex items-center justify-center">
              <p class="text-base font-medium text-white leading-6 text-nowrap">{{ 'auctionDetails.payDeposit' | transloco }}</p>
            </div>
          </button>
        </div>
      </div>

      <!-- Card 2: Time Remaining -->
      <div class="bg-white border border-gray-200 rounded-2xl p-4 flex flex-col gap-4">
        <!-- Header -->
        <div class="flex gap-1 w-full">
          <!-- Clock Icon -->
          <img alt="clock" src="images/icons/clock.svg" />

          <p class="text-lg font-bold text-gray-800 leading-7 text-nowrap">
            {{ 'auctionDetails.timeRemainingToClose' | transloco }}
          </p>
        </div>

        <!-- Time Values -->
        <div class="flex gap-2 h-[91px] items-center w-full">
          <!-- Days -->
          <div
            class="flex-1 bg-bg-primary-50 border border-border-primary-light rounded-lg flex flex-col gap-0 h-full items-center justify-center px-2 py-1 text-emerald-700 text-nowrap text-right"
          >
            <p class="text-xl font-bold leading-[30px] text-button-primary">
              {{ auctionDetails().auctionCard.timeRemaining.days }}
            </p>
            <p class="text-base font-normal leading-6 text-button-primary">
              {{ 'auctionDetails.days' | transloco }}
            </p>
          </div>

          <!-- Hours -->
          <div
            class="flex-1 bg-bg-primary-50 border border-border-primary-light rounded-lg flex flex-col gap-0 h-full items-center justify-center px-2 py-1 text-emerald-700 text-nowrap text-right"
          >
            <p class="text-xl font-bold leading-[30px] text-button-primary">
              {{ auctionDetails().auctionCard.timeRemaining.hours }}
            </p>
            <p class="text-base font-normal leading-6 text-button-primary">
              {{ 'auctionDetails.hours' | transloco }}
            </p>
          </div>

          <!-- Minutes -->
          <div
            class="flex-1 bg-bg-primary-50 border border-border-primary-light rounded-lg flex flex-col gap-0 h-full items-center justify-center px-2 py-1 text-emerald-700 text-nowrap text-right"
          >
            <p class="text-xl font-bold leading-[30px] text-button-primary">
              {{ auctionDetails().auctionCard.timeRemaining.minutes }}
            </p>
            <p class="text-base font-normal leading-6 text-button-primary">
              {{ 'auctionDetails.minutes' | transloco }}
            </p>
          </div>

          <!-- Seconds -->
          <div
            class="flex-1 bg-bg-primary-50 border border-border-primary-light rounded-lg flex flex-col gap-0 h-full items-center justify-center px-2 py-1 text-button-primary text-nowrap text-right"
          >
            <p class="text-xl font-bold leading-[30px] text-button-primary">
              {{ auctionDetails().auctionCard.timeRemaining.seconds }}
            </p>
            <p class="font-normal leading-6 text-button-primary">
              {{ 'auctionDetails.seconds' | transloco }}
            </p>
          </div>
        </div>

        <!-- Highest Price Header -->
        <div class="flex gap-1 w-full">
          <!-- currency arrow up Icon -->
          <img alt="currency arrow" src="images/icons/currency-arrow-up.svg" />

          <p class="text-lg font-bold text-gray-800 leading-7 text-nowrap">
            {{ 'auctionDetails.highestPrice' | transloco }}
          </p>
        </div>

        <!-- Current Highest Bid Display -->
        <div
          class="bg-bg-primary-50 border border-border-primary-light flex h-[82px] justify-center items-center p-2 rounded-lg w-full"
        >
          <div class="flex">
            <div class="flex gap-2 p-0">
              <p class="font-bold leading-6 text-button-primary text-nowrap">
                {{ auctionDetails().auctionCard.currentHighestBid.toLocaleString() }}
              </p>
              <!-- Currency Symbol (Green) -->
              <img alt="riyal" class="w-4 h-4" src="images/icons/green-riyal.svg" />
            </div>
          </div>
        </div>
      </div>

      <!-- Card 3: Live Bid List -->
      <div class="bg-white border border-gray-200 rounded-lg p-4 flex flex-col gap-3 w-full">
        <!-- Header -->
        <div class="flex items-center justify-between pb-1 w-full">
          <!-- Title -->
          <div class="flex gap-2 items-center w-[218.5px]">
            <!-- Chart Icon -->
            <img alt="currency-charts" src="images/icons/green-currency-chart.svg" />
            <p class="text-xl font-bold leading-[30px] text-gray-800 text-nowrap">
              {{ 'auctionDetails.actions.liveListing' | transloco }}
            </p>
          </div>

          <!-- Live Status Tag -->
          <div class="flex gap-1 h-6 items-center justify-end p-0 rounded-full">
            <!-- Green Dot -->
            <img alt="green dot" class="w-3 h-3" src="images/icons/green-dot.svg" />
            <p class="text-sm font-medium text-gray-800 leading-5 text-nowrap text-right">
              {{ 'auctionDetails.live' | transloco }}
            </p>
          </div>
        </div>

        <!-- Bid History List -->
        @for (bid of auctionDetails().auctionCard.bidHistory; track $index) { @if (bid.isHighest) {
        <!-- Highest Bid (Highlighted) -->
        <div
          class="bg-bg-primary-50 border border-border-primary-light flex gap-2 items-center px-2 py-4 rounded w-full"
        >
          <div class="flex-1 flex flex-row items-center">
            <div class="flex-1 flex flex-col gap-0 h-full min-h-px min-w-px">
              <div class="flex gap-2 items-center">
                <p class="text-xl font-bold text-gray-800 leading-paragraph-display-sm text-nowrap">
                  {{ bid.amount.toLocaleString() }}
                </p>
                <!-- Currency Symbol -->
                <img alt="riyal" class="w-5 h-5" src="images/icons/black-riyal.svg" />
              </div>
            </div>
          </div>
          <div class="flex flex-col gap-2">
            <!-- Highest Bid Badge -->
            <div class="bg-bg-tag-success flex gap-1 h-6 items-center px-2 py-0 rounded-full">
              <!-- gray Dot -->
              <img alt="gray dot" src="images/icons/gray-dot.svg" />
              <p class="text-sm font-medium text-white leading-5 text-nowrap">
                {{ 'auctionDetails.topBid' | transloco }}
              </p>
            </div>
            <p class="font-normal text-gray-800 leading-6 text-nowrap text-end">
              {{ bid.timeAgo }}
            </p>
          </div>
        </div>
        } @else {
        <!-- Regular Bid -->
        <div
          class="border border-gray-300 flex gap-2 items-center justify-end px-2 py-4 rounded w-full"
        >
          <div class="flex-1 flex flex-row items-center">
            <div class="flex-1 flex flex-col gap-0 h-full min-h-px min-w-px">
              <div class="flex gap-2 items-center">
                <p class="text-xl font-bold text-gray-800 leading-paragraph-display-sm text-nowrap">
                  {{ bid.amount.toLocaleString() }}
                </p>
                <!-- Currency Symbol -->
                <img alt="riyal" class="w-5 h-5" src="images/icons/black-riyal.svg" />
              </div>
            </div>
          </div>
          <div class="flex flex-col gap-0">
            <p class="font-normal text-gray-800 leading-6 text-nowrap">
              {{ bid.timeAgo }}
            </p>
          </div>
        </div>
        } }
      </div>
    </div>
  </div>
</div>
